{% extends 'base.html' %}

{% block content %}


{% if api %}
    {% if api == 'Error' %}
    <p>There was a problem with your ticker symbol, please try again.</p>
        
    {% else %}
    Symbol: {{api.data.symbol}}<br>
    Name: {{api.data.name}}<br><br>
    
    {% for i in api.data.eod %}
        Date: {{ i.date|slice:':10' }}<br>
        Open: {{ i.open }}<br>
        Close: {{ i.close }}<br>
        High: {{ i.high }}<br><br>
    {% endfor %}
    {% endif %}
{% else %}

<br>
<h1>Search for a stock quote in the navigation bar.</h1>

{% endif %} 
{% endblock %}